* {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

.container {
    text-align: center;
    padding-top: 15px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 20px;
}

.csv-input {
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container p {
    padding-top: 10px;
    color: #666;
}

canvas{
    position: absolute;
    top: 240px ;
    left: 50% ;
    transform: translate(-50%, -50%);
}
